<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
      </head>
      <body>
        <div class="chat-container"></div>
      
        <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
        <script type="text/javascript">
          var chatroom = new window.Chatroom({
            host: "http://localhost:5005",
            title: "⭐️ Exercise-14 👾",
            container: document.querySelector(".chat-container"),
            welcomeMessage: "Hi, it must be tired travelling a long distance back here! My name is Exercise-14, I am a (cute) robot to assist you to get a healthy, unique and productive 14-day quarantine!",
            speechRecognition: "en-US",
            voiceLang: "en-US"
          });
          chatroom.openChat();
        </script>
      </body>